# RENAME THIS FILE TO .env

# If you want a verbose log, set this to true
VERBOSE_LOG=false

# ---------------------------------

TWITCH_USERNAME=[Your Twitch login name]
TWITCH_CLIENT_ID=[BOT ID]
TWITCH_CLIENT_SECRET=[BOT SECRET]
TWITCH_REDIRECT_URI=http://localhost:3000
AUTH_FILE="./auth.toml"


