# RENAME THIS FILE TO .env

# If you want a verbose log, set this to true
VERBOSE_LOG=false

# If you want to use the OpenJTalk voice, set this to true
ENABLE_YOMI=false

# If you want to use the NicoNico HTML overlay, set this to true
ENABLE_NICO=false

# ---------------------------------

# Note: This is your twitch id not your bot's id
TWITCH_CLIENT_ID=your_client_id

# Note: do not put "oauth://" or "https://"
TWITCH_CLIENT_SECRET=your_client_secret

# Note: This is where your bot get its dic
OPEN_JTALK_DICT_PATH=/usr/share/open-jtalk/dic

# Note: This is where your bot locate its voice
OPEN_JTALK_VOICE_PATH=/usr/share/open-jtalk/voices/nitech_jp_atr503_m001.htsvoice

# Note: This is the max character count of the message
MAX_CHAR_COUNT=100

# Note: This is the max queue count
MAX_QUEUE_COUNT=100

# Note: This is the queue drop policy, (either choose "drop_old" or "drop_new")
QUEUE_DROP_POLICY=drop_new
